In [1]:
#added matplotlib to make map appear, didn't work
#stackoverflow.com/questions/47536735; worked after restart and run
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
#/stackoverflow.com/questions/47536735
#tried to trouble shoot map issue
#!jupyter nbextension list

In [4]:
#store the city data from the csv as a df here
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,city_id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-05-09 19:33:30,-46.1927,168.8643,48.47,97,97,1.41
1,1,Hilo,US,2022-05-09 19:30:51,19.7297,-155.0900,83.28,72,40,3.00
2,2,Havre-Saint-Pierre,CA,2022-05-09 19:33:30,50.2334,-63.5986,55.76,35,0,9.22
3,3,Busselton,AU,2022-05-09 19:33:31,-33.6500,115.3333,55.35,88,6,2.73
4,4,Kodiak,US,2022-05-09 19:33:31,57.7900,-152.4072,44.11,49,75,18.41

In [5]:
#get city data data types because can only be an integer or float point
#decimal for gmaps

city_data_df.dtypes
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city_id     539 non-null    int64
 1   City        539 non-null    object
 2   Country     534 non-null    object
 3   Date        539 non-null    object
 4   Lat         539 non-null    float64
 5   Lng         539 non-null    float64
 6   Max Temp    539 non-null    float64
 7   Humidity    539 non-null    int64
 8   Cloudiness  539 non-null    int64
 9   Wind Speed  539 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.2+ KB

In [6]:
#stackoverflow.com/questions/45779271 - maps issue trouble shoot
#!jupyter nbextension enable --py gmaps
#!jupyter nbextension enable --py widgetsnbextension

In [7]:
#config gmaps using api key
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
#using a for loop to add temp greater than 0 to a list
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#can use fig = gmaps.figure(), new code was entered to change center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.9)


# Assign the heatmap variable.
#original: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#used after for loop implemented heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#final line to change the formating
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# create Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# create Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# create Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#6.5.3 get vacation criteria

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
#using loc to create a conditional filter based on ansers
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,city_id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2022-05-09 19:30:51,19.7297,-155.0900,83.28,72,40,3.00
7,7,Vila Velha,BR,2022-05-09 19:33:32,-20.3297,-40.2925,78.75,57,40,16.11
9,9,Portobelo,PA,2022-05-09 19:33:33,9.5500,-79.6500,87.75,75,48,6.96
11,11,Kahului,US,2022-05-09 19:33:34,20.8947,-156.4700,80.62,47,20,13.00
19,19,Tessalit,ML,2022-05-09 19:33:37,20.1986,1.0114,85.82,5,0,8.68
23,23,Sulangan,PH,2022-05-09 19:33:38,11.1373,123.7228,82.29,78,100,12.41
28,28,Rikitea,PF,2022-05-09 19:33:40,-23.1203,-134.9692,76.19,70,3,11.74
29,29,Olutanga,PH,2022-05-09 19:33:40,7.3106,122.8464,82.36,78,100,6.08
30,30,Kapaa,US,2022-05-09 19:32:45,22.0752,-159.3190,78.78,83,100,10.36
31,31,Isangel,VU,2022-05-09 19:33:41,-19.5500,169.2667,76.14,70,100,17.49

In [30]:
preferred_cities_df.count()
##I only have 175 cities but the module shows 180

city_id       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [33]:
#6.5.4 map vacation criteria
#create a df called hotel to store hotel names with city, country etc inf

hotel_df =preferred_cities_df[["City", 'Country','Max Temp', 'Lat',
                              'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1         Hilo      US     83.28  19.7297 -155.0900
7   Vila Velha      BR     78.75 -20.3297  -40.2925
9    Portobelo      PA     87.75   9.5500  -79.6500
11     Kahului      US     80.62  20.8947 -156.4700
19    Tessalit      ML     85.82  20.1986    1.0114
23    Sulangan      PH     82.29  11.1373  123.7228
28     Rikitea      PF     76.19 -23.1203 -134.9692
29    Olutanga      PH     82.36   7.3106  122.8464
30       Kapaa      US     78.78  22.0752 -159.3190
31     Isangel      VU     76.14 -19.5500  169.2667

In [ ]:
#retrieve hotels from a nearby search